<div class="main">
    <h1>Express Gallery</h1>
    <div class="login">
        <h2>Login or Register</h2>
        <form action="/auth/login" method="post">
            <input type="email" name="email" class="text-box">
            <input type="password" name="password" class="text-box">
            <button type="submit" class="btn-login">Login</button>
            <button type="submit" formaction="/auth/register" formmethod="post" class="btn-register">Register</button>
        </form>
    </div>
</div>