<h1>User Portal</h1>
<!--Navigation Closed w/Hamburger-->
<input type="checkbox" id="nav-burger-trigger" />
<label for="nav-burger-trigger" class="nav-burger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</label>

<!-- Navigation Opened-->
<div class="navigation-open">
    <nav class="open">
        <ul>
            <li>
                <span class="nav-line">
                    <a href="#gallery">Galleries</a>
                </span>
            </li>
            <li>
                <span class="nav-line">
                    <a href="#newPhoto">Add Photo</a>
                </span>
            </li>
            <li>
                <span class="nav-line">
                    <a href="#Edit">Edit</a>
                </span>
            </li>
        </ul>
    </nav>

</div>

<a href="/auth/logout" method="post">Logout</a>