$color-background-dark: rgba(54, 56, 76, 0.8);
$color-background-light: rgba(136, 140, 164, 0.8);
$color-cream: #f5ece2;
$color-fresh: #849974;
$color-burgundy: #522a33;
$color-petal: #e3bab3;
$color-blue-forest: #303135;
$color-light-grey: #707481;
